@charset "UTF-8";

//* clearfix
//---------------------------------------------*/
@mixin cf {
    &:after {
        content: "";
        display: block;
        clear: both;
        zoom:1; /* For IE 6/7 (trigger hasLayout) */
    }
}

@mixin contentwidth {
    margin: 0 auto;
    width: 960px;
}