@charset "UTF-8";

html {
    overflow: auto;
}

body{
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 18px;
    line-height: 1.7;
    color: #000;
    background-color: #fff;
    position: relative;
    min-width: 960px;
    -webkit-text-size-adjust: 100%; //iPhone 文字サイズバク対策
}


#container {
    @include cf;
    @include contentwidth;
}

aside {
    background-color: $orange;
    float: left;
    padding: 20px;
    width: 200px;
}

#content {
    background-color: $gray;
    float: right;
    padding: 20px;
    width: 650px;
}